@model customValMsgDemo.Models.ItemList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItemList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListItemEntry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListItemEntry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompleteByDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompleteByDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ListItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
