@model IEnumerable<validationDemo.Models.ItemList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListItemEntry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompleteByDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListItemEntry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompleteByDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ListItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ListItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ListItemID })
        </td>
    </tr>
}

</table>
