@model displayNameDemo.Models.ListItem
@{
    ViewBag.Title = "displayNameDemo";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<section class="feature">
    <fieldset>
        <legend>ItemList</legend>

        <div class="label" style="background-color:lightblue">@Html.DisplayNameFor(model => model.Title)</div>
        <div class="field">@Html.DisplayFor(x => x.Title)</div>
        <div class="label" style="background-color:lightblue">@Html.DisplayNameFor(model => model.ListItemEntry)</div>
        <div class="field">@Html.DisplayFor(y => y.ListItemEntry)</div>
        <div class="label"style="background-color:lightblue">@Html.DisplayNameFor(model => model.TimeCreated)</div>
        <div class="field">@Html.DisplayFor(z => z.TimeCreated)</div>

    </fieldset>
</section>
