@{ 
    ViewBag.Title = "mvcModelDemo";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="feature">
    <div>
        Title: @Model.Title
    </div>
    <div>
        Item Entry: @Model.ListItemEntry
    </div>
    <div>
        Time Created: @Model.TimeCreated
    </div>
</section>